{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "prettier"],
  "plugins": ["jsx-a11y", "prettier", "react"],
  "rules": {
    "prettier/prettier": "warn",
    "no-unused-vars": "warn",
    "no-console": "off",
    "no-process-exit": "off",
    "arrow-body-style": "off",
    "func-names": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "react/no-unstable-nested-components": "off",
    "react/no-namespace": "off",
    "react/prefer-exact-props": "off",
    "react/no-arrow-function-lifecycle": "off",
    "react/no-invalid-html-attribute": "off",
    "react/no-unused-class-component-methods": "off",
    "import/no-import-module-exports": "off",
    "import/no-relative-packages": "off",
    "react-hooks/exhaustive-deps": "warn",
    "no-param-reassign": 0
  }
}
